ConfigArgParse==1.5.3
h5py==3.8.0
matplotlib==3.7.1
numpy==1.24.3
pandas==2.0.2
ptflops==0.7.1.2
pygame==2.4.0
PyOpenGL==3.1.7
PyYAML==6.0.1
rsa==4.9
scikit_learn==1.2.2
scipy==1.11.4
seaborn==0.11.2
statannotations==0.5.0
sympy==1.12
tensorflow==2.15.0
termcolor==2.3.0
thop==0.1.1.post2209072238
torch==2.0.1
torchmetrics==0.11.4
torchvision==0.15.2
transforms3d==0.4.1
